body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


th {
  background-color: #4CAF50;
  color: white;
}

.description {
  width: 10000px;  /* or whatever width you prefer */
  overflow: hidden;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: start;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

